.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hiddenMount {
    opacity: 0;
    transition: opacity 0.2s;
}

.visibleMount {
    opacity: 1;
}